body {
  background-color: #333;
}
.wrapper {
  width: 80%;
  margin: auto;
}
.fullview {
  text-align: center;
  margin: 1rem 0;
}
.fullview > img {
  width: calc(100% - .5rem);
}
.preview {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.preview li {
  margin: 0 .25rem;
}
.preview li img {
  max-width: 100%;
}
